@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.firstGif{
    padding-top: 50px;
}

.gifs{
    display: flex;
    justify-content: center;
}

.gifs img{
    width: 300px;
    height: 300px;
    padding: 10px;
    border-radius: 30px;
    transition: ease-in-out 100ms;
}

.gifs img:hover{
    width: 320px;
    height: 320px;
    padding: 10px;
    border-radius: 30px;
}

header{
    width: 100%;
    display: flex;
    padding: 10px;
    justify-content: center;
    padding-top: 25px;
}

header h1{
    font-size: 70px;
}

.banner{
    margin-top: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
}

.banner img{
    width: 70%;
}

.about{
    display: flex;
    justify-content:space-evenly;
    padding: 30px;
    padding-top: 150px;
    padding-bottom: 150px;
    background-color: black;
}

.about img{
    width: 620px;
    height: 620px;
    border-radius: 30px;
    margin-left: 100px;
    transition: ease-in-out 100ms;
}

.about img:hover{
    width: 640px;
    height: 640px;
    border-radius: 30px;
    margin-left: 80px;
}

.para{
    display: flex;
    justify-content: center;
}

.about h1{
    font-size: 70px;
    padding-bottom: 70px;
    color: azure;
}

.about p{
    font-size: 25px;
    width: 250px;
    padding-right: 15px;
    padding-left: 10px;
    color:aliceblue;
}

.media img{
    height: 150px;
    width: 150px;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 200px;
    margin-top: 50px;
    transition: ease-in-out 100ms;
}

.media img:hover{
    height: 170px;
    width: 170px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 190px;
    margin-top: 40px;
    transition: ease-in-out 100ms;
}

.media h1{
    font-size: 90px;
}

.media div{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
}