@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.firstGif{
    padding-top: 50px;
}

.gifs{
    display: flex;
    justify-content: center;
}

.gifs img{
    max-width: 300px;
    min-width: 200px;
    padding: 10px;
    border-radius: 30px;
}

header{
    width: 100%;
    display: flex;
    padding: 10px;
    justify-content: center;
    padding-top: 25px;
}

header h1{
    font-size: 70px;
}

.about{
    display: flex;
    justify-content: center;
    padding-top: 300px;
    padding-bottom: 200px;
}

.about img{
    width: 650px;
    height: 650px;
    border-radius: 30px;
    margin-left: 100px;
}

.para{
    display: flex;
    justify-content: center;
}

.about h1{
    font-size: 70px;
    padding-bottom: 70px;
}

.about p{
    font-size: 25px;
    width: 250px;
    padding-right: 15px;
    padding-left: 10px;
}